{
"_source":[
      "Vrvirksomhed.cvrNummer",
      "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn",
      "Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse",
      "Vrvirksomhed.virksomhedMetadata.nyesteHovedbranche",
      "Vrvirksomhed.virksomhedMetadata.sammensatStatus",
      "Vrvirksomhed.virksomhedMetadata.penheder.pNummer",
      "Vrvirksomhed.livsforloeb.periode.gyldigTil"
   ],
   "query":{
      "bool":{
         "must":{
            "query_string":{
               "fields":[
                  "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn",
                  "Vrvirksomhed.virksomhedMetadata.penheder.pNummer",
                  "Vrvirksomhed.cvrNummer"
               ],
               "query": "(Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn:{{ search_term }} OR Vrvirksomhed.penheder.pNummer:{{ search_term }} OR Vrvirksomhed.cvrNummer:{{ search_term }})"
            }
         },

         "must_not":{
            "exists":{
               "field":"Vrvirksomhed.livsforloeb.periode.gyldigTil"
            }
         }
      }
   }
}