{
    "_source": [
        "Vrvirksomhed.cvrNummer",
        "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn",
        "Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse",
        "Vrvirksomhed.virksomhedMetadata.nyesteHovedbranche"
    ],
    "query": {
        "query_string": {
            "fields": [
                "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn",
                "Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.vejnavn",
                "Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.kommune.kommuneNavn"
            ],
            "query": "(Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn:{{ navn }} OR Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.vejnavn:{{ vejnavn }} AND Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.husnummerFra:{{ hus_nr_fra }}{% if postnr|length %} AND Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.postnummer:{{ postnr }}{% endif %})"
        }
    },
    "size": 1
}