{
   "_source":[
      "Vrvirksomhed.cvrNummer",
      "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn",
      "Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse",
      "Vrvirksomhed.virksomhedMetadata.nyesteHovedbranche",
      "Vrvirksomhed.virksomhedMetadata.sammensatStatus"
   ],
   "query":{
      "bool":{
         "must":[
            {
               "term":{
                  "Vrvirksomhed.cvrNummer":"{{cvr_number}}"
               }
            },
            {
               "bool":{
                  "should":[
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"NORMAL"
                        }
                     },
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"Aktiv"
                        }
                     },
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"UNDERTVANGSOPLØSNING"
                        }
                     },
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"UNDERFRIVILLIGLIKVIDATION"
                        }
                     },
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"UNDERKONKURS"
                        }
                     },
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"UNDERREKONSTRUKION"
                        }
                     },
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"UNDERREASSUMERING"
                        }
                     },
                     {
                        "term":{
                           "Vrvirksomhed.virksomhedMetadata.sammensatStatus":"OMDANNET"
                        }
                     }
                  ]
               }
            }
         ]
      }
   },
   "size":1
}