{
    "_source": [
        "Vrvirksomhed.cvrNummer",
        "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn",
        "Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse",
        "Vrvirksomhed.virksomhedMetadata.nyesteHovedbranche",
        "Vrvirksomhed.virksomhedMetadata.sammensatStatus"
    ],
    "query": {
        "query_string": {
            "fields": [
                "Vrvirksomhed.cvrNummer",
                "Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn",
                "Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.vejnavn"
            ],
            "query": "(
                {% if cvr|length %}
                    Vrvirksomhed.cvrNummer:{{ cvr }} 
                {% endif %}
                {% if navn|length %}
                    Vrvirksomhed.virksomhedMetadata.nyesteNavn.navn:{{ navn }} 
                {% endif %}
                {% if vejnavn|length %}
                    AND Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.vejnavn:{{ vejnavn }} 
                {% endif %}
                {% if hus_nr_fra|length %}
                    AND Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.husnummerFra:{{ hus_nr_fra }}
                {% endif %}
                {% if postnr|length %} 
                    AND Vrvirksomhed.virksomhedMetadata.nyesteBeliggenhedsadresse.postnummer:{{ postnr }}
                {% endif %}
            )"
        }
    },
    "size": 1
}