{
   "query":{
      "bool":{
         "must":[
            {
               "term":{
                  "VrproduktionsEnhed.pNummer": {{p_number}}
               }
            }
         ]
      }
   }
}